<% include ./partials/header %> <% include ./partials/navbar %>

<div class="container">
  <h3 class="my-2">Results</h3>

  <hr />

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>IMDb ID</th>
        <th>Poster</th>
        <th>Year</th>
      </tr>
    </thead>
    <% data["Search"].forEach((movie) => { %>
    <tr>
      <td><%= movie["Title"] %></td>
      <td><a href="https://www.imdb.com/title/<%= movie["imdbID"] %>"><%= movie["imdbID"] %></a></td>
      <td><img src="<%= movie["Poster"] %>" class="" alt="" height="80px"></td>
      <td><%= movie["Year"]%></td>
    </tr>
    <% }) %>
  </table>

  <hr />

  <a href="/" class="btn btn-primary mb-3">Return</a>
</div>

<% include ./partials/footer %>
